<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Sample App</title>
  </head>
  <body>
    <h1>Hello world!!!</h1>
    <div>
      <form action="/new" method="post">
        <p>
          タイトル :<input
            type="text"
            name="title"
            size="30"
            placeholder="タイトル名"
          />
        </p>
        <p>
          説明 :<input
            type="text"
            name="description"
            size="30"
            placeholder="説明"
          />
        </p>
        <p><input type="submit" value="Send" /></p>
      </form>
    </div>
    <div>
      {{ range.books }}
      <ul>
        <li>
          <b>{{.Title}}</b>
          ：{{.Description}}
        </li>
      </ul>
      {{ end }}
    </div>
  </body>
</html>
